{% extends 'ishare/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">{{ album.title }}</h3>
        
      </div>
      <div class="panel-body">
      {% if album.image_set.all %}
        <ul class="list-inline">
        {% for img in album.image_set.all %}
          <li class="pull-left">
            <div class="img-thumb">
              <a href="{% url 'ishare:photo_detail' img.pk %}">
                <img class="img-rounded" src="{% url 'ishare:photo_direct' img.pk %}" title="{{ img.title }}">
              </a>
              <p class="text-center" style="padding-top: 5px;">
                <span class="glyphicon glyphicon-comment"></span><span> {{ img.comment_number }}</span>
                <span class="glyphicon glyphicon-chevron-up"></span><span> {{ img.voteup_number }}</span>
                <span class="glyphicon glyphicon-chevron-down"></span><span> {{ img.votedown_number }}</span>
              </p>
              
            </div>
          </li>
        {% endfor %}
        </ul>
      {% else %}
        <h4>This album has no image!</h4>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}