{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Upload your dreams{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'ishare/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'ishare/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'ishare/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'ishare/js/jquery.contenthover.js' %}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block headerinclude %}{% endblock %}
  </head>
  <body>
    <div class="container">
      {% include 'ishare/header.html' %}
      {% block content %}{% endblock %}
      {% include 'ishare/footer.html' %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'ishare/js/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'ishare/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>