{% extends 'ishare/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">{{ image.title }}</h3>
        
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
            <img src="{% url 'ishare:photo_direct' image.pk %}" width="100%" height="100%">
          </div>
          <div class="col-md-4">
            
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}