body{
	background: url('http://s.imgur.com/images/main-bg.png') top center no-repeat;
	color: white;
	background-color: #121211;
}
a{
	color: white !important;
}
.topbar{
	background-color: #2b2b2b;
	background-image: none;
	border-color: #2b2b2b;
	font-size: 15px;
	height: 50px;
	font-weight: 700;
	position: relative;
	z-index: 10;
	color: white;
}
.header-center{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
#content{
	width: 960px;
	margin: 10px auto 0;
}
#home-title{
	font-size: 22px;
	padding: 15px 0 25px;
	color: #fff;
	line-height: 33px;
	max-height: 60px;
	position: relative;
	text-align: center;
	background-color: transparent!important;
}
#home-image-panel{
	margin-top: 15px;
	border-radius: 10px;
	background: #2b2b2b;
}
.imagesign{
	height: 150px;
	padding: 10px;
	background: linear-gradient(to bottom,#000,transparent);
	background-color: #181817;
	border: 2px solid #444442;
	display: inline-block;
	position: relative;
}
.image-row{
	padding: 2px 20px 2px 20px;
}
.contenthover { padding:20px 20px 10px 20px; }
.contenthover, .contenthover h3, contenthover a { color:#fff; }
.contenthover h3, .contenthover p { margin:0 0 10px 0; line-height:1.4em; padding:0; }
.contenthover a.mybutton { display:block; float:left; padding:5px 10px; background:#3c9632; color:#fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.contenthover a.mybutton:hover { background:#34742d }