.thumbnail {
    width: 160px;
    height: 120px;
}

.img-thumb {
    width: 200px;
    height: 150px;
}

.img-thumb img {
    width: 200px;
    height: 120px;
}

#comment-list {
    max-height: 300px;
    overflow: auto;
}